a {
  color: var(--X3);
}

.paratitle {
    font-weight: bold !important;
    font-size: 137% !important;
}


/* sgntrs / signatures */
.sgntrs {
  color: #333;
  line-height: 2;
  padding: 3px;

  font-family: 'Helvetica';
  font-size: 75%;
  font-style: italic;
/*  
  white-space: pre-wrap;
*/
  margin: 20px;
}

._name {
  font-style: normal;
  font-weight: bold;
  font-size: 120%;
  text-indent: -15px;
}
._name::before {
  content: "";
  display: block;
}

@media (orientation: portrait) {
  pre {
     font-size: 66%;
     white-space: pre-wrap;
  }
}



.call {
    font-weight: bold;
    font-size: 130%;
}

:root {

/*
overflow-wrap: break-word !important;
word-break:break-all !important;
*/

/* MAIN COLORS */
--X2: #222;
--X1: #FFF;
--X3: #777;



    padding: 50px !important;
    background: var(--X1) !important;
    color: var(--X2) !important;
    font-size: 130% !important;

  font-family: 'Helvetica';

--C1: var(--X1) !important;
--B1: var(--X2) !important;
--F1: 48pt !important;
}


.updiv {
    position: fixed !important;
    left: 20px;
    top: 50px;
    background: var(--X2);
    color: var(--X1);
    padding: 5px;
}



.toc_title {
    margin-top: 100px;
    font-size: 130%;
    font-weight: bold;
}

.toc_list {

font-style: italic;
    padding: 5px;
    font-size: 120%;
}


/* section titles in appendix */
.ptitle {
    background: var(--B1) !important;
  color: var(--C1) !important;
  font-family: 'Helvetica';
  font-size: var(--F1) !important;
  padding: 30px !imporant;
  margin-top: 100px !important;
}



img {
    border: 10px solid white !important;
}


img:hover {
  filter: brightness(110%);
  transition: transform 0.3s, filter 1s ease-in-out;
  transform: scale(1.02);

/*
//  width:               90%;
//  transform-origin: 50% 65%;
  height:              70%;
*/

/*
    transform-origin: top center;
    margin-top: 5px;
  transform-origin: 50% 85%;
*/

z-index: 9 !important;
}


/* big appendix link */
.paralink a {
  font-family: 'Helvetica';
  text-transform: capitalize;
  color: var(--X1) !important;
  background: var(--X2) !important;
  padding: 10px !important;
/*
  margin: 200px !important;
  font-size: 200% !important;
}

.spanlink {
  font-family: 'Helvetica';
}

.spantitle {
    font-weight: bold;
    font-size: 200% !important;
}





p {
    background: #222 !important;
    padding: 10px !important;
}

/* --------------------------------------------------------------------------- */

.para20 {
  background-color: #ffffff;
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: start;
}

.para18 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.1665in 0px;
  min-height: 0.1807in;
  text-align: start;
}

.para13 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0835in 0.1209in;
  min-height: 0.1807in;
  text-align: start;
  text-indent: 0.0000in;
}

.para16 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.2189in;
  min-height: 0.1807in;
  text-align: start;
  text-indent: 0.0000in;
}

.para0 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: start;
  font-size: 130% !important;
}

.para1 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.1390in 0px;
  text-align: start;
}

.para12 {
  margin:  0.2220in 0px 0.0555in 0px;
  text-align: start;
}

.para2 {
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: start;
}

.para3 {
  background-color: #ffffff;
  margin:  0.0000in 0px 0.0000in 0px;
  text-align: start;
}

.para4 {
  background-color: #ffffff;
  margin:  0.0000in 0px 0.0835in 0px;
  text-align: start;
}

.para5 {
  margin:  0.2220in 0px 0.0555in 0px;
  text-align: start;
}

.para17 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0835in 0.1256in;
  min-height: 0.1807in;
  text-align: start;
  text-indent: 0.0000in;
}

/* ### */
.para15 {
  line-height: 115.0000%;
  margin:  0.0000in 0.2252in 0.0000in 0.2264in;
  margin:  none !important;
  min-height: 0.1807in;
  text-align: start;
  text-indent: 0.0000in;
}

.para7 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0835in 0px;
  min-height: 0.1807in;
  text-align: start;
}

.para9 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  min-height: 0.1807in;
  text-align: start;
}

.para8 {
  background-color: #ffffff;
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
  min-height: 0.1807in;
  text-align: start;
}

.para19 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0835in 0.0236in;
  min-height: 0.1807in;
  text-align: start;
  text-indent: 0.0000in;
}

.para10 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0835in 0px;
  min-height: 0.1807in;
  text-align: right;
}

.para14 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0000in 0.1146in;
  min-height: 0.1807in;
  text-align: start;
  text-indent: 0.0000in;
}

.para6 {
  background-color: #ffffff;
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0835in 0px;
  min-height: 0.1807in;
  text-align: start;
}

.para11 {
  line-height: 115.0000%;
  margin:  0.0000in 0.0000in 0.0835in 0.1193in;
  min-height: 0.1807in;
  text-align: start;
  text-indent: 0.0000in;
}

.span14 {
  font-family: 'Helvetica';
  font-size: 9.0000pt;
}

.span13 {
  color: #0000ff;
  font-family: 'Helvetica';
  font-size: 9.0000pt;
  text-decoration:  underline;
}

.span9 {
  color: #0000ff;
  font-family: 'Helvetica';
  font-size: 10.5000pt;
  text-decoration:  underline;
}

.span5 {
  font-family: 'Helvetica';
  font-size: 14.0000pt;
}

.span2 {
  font-family: 'Helvetica';
}

.span8 {
  font-family: 'Helvetica';
  font-size: 10.5000pt;
}

.span10 {
  color: #0000ff;
  font-family: 'Helvetica';
  text-decoration:  underline;
}

.span3 {
  font-family: 'Helvetica';
  font-size: 10.0000pt;
}

.span0 {
  font-family: 'Helvetica';
}

.span1 {
  font-family: 'Helvetica';
  font-style: italic;
}

.span4 {
  color: #1155cc;
  font-family: 'Helvetica';
  font-size: 10.0000pt;
  text-decoration:  underline;
}

.span6 {
  font-family: 'Helvetica';
  font-size: 12.0000pt;
}

.span11 {
  background-color: #ffffff;
  color: #202122;
  font-family: 'Helvetica';
  font-size: 10.5000pt;
}

.span12 {
  color: #202122;
  font-family: 'Helvetica';
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}

.cellTable11 {
  border: none;
  vertical-align: top;
  width: 3.5056in;
}

.cellTable8 {
  border: none;
  vertical-align: bottom;
  width: 3.3778in;
}

.cellTable7 {
  border: none;
  vertical-align: top;
  width: 3.1528in;
}

.cellTable6 {
  border: none;
  vertical-align: top;
  width: 3.3778in;
}

.cellTable5 {
  border: none;
  vertical-align: top;
}

.cellTable9 {
  border: none;
  vertical-align: top;
  width: 3.3451in;
}

.cellTable4 {
  border: none;
  vertical-align: top;
  width: 3.2653in;
}

.cellTable2 {
  border: none;
  vertical-align: top;
  width: 3.3465in;
}

.cellTable10 {
  border: none;
  vertical-align: top;
  width: 3.3444in;
}

.cellTable3 {
  border: none;
  vertical-align: top;
  width: 3.2451in;
}

.cellTable1 {
  border: none;
  vertical-align: bottom;
  width: 3.2208in;
}

.cellTable12 {
  border: none;
  vertical-align: top;
  width: 3.025in;
}

.cellTable0 {
  border: none;
  vertical-align: top;
  width: 3.1493in;
}

.rowTable1 {
  min-height: 3.7563in;
}

.rowTable0 {
}

.table3 {
  width: 6.6903in;
}

.table2 {
  width: 6.5313in;
}

.table1 {
  width: 6.5924in;
}

.table0 {
  width: 6.3708in;
}

.frame21 {
  border: none;
  width: 2.8744in;
}

.frame18 {
  border: none;
  float: left;
  width: 2.9134in;
}

.frame17 {
  border: none;
  width: 3.1102in;
}

.frame16 {
  border: none;
  float: left;
  width: 3.2280in;
}

.frame15 {
  border: none;
  float: left;
  width: 3.2283in;
}

.frame19 {
  border: none;
  width: 3.1890in;
}

.frame14 {
  border: none;
  width: 2.4807in;
}

.frame22 {
  border: none;
  width: 3.5827in;
}

.frame13 {
  border: none;
  float: left;
  width: 2.9925in;
}

.frame1 {
  border: none;
  width: 3.1492in;
}

.frame8 {
  border: none;
  float: left;
  width: 3.1492in;
}

.frame20 {
  border: none;
  width: 3.0311in;
}

.frame3 {
  border: none;
  width: 2.8346in;
}

.frame9 {
  border: none;
  float: left;
  width: 4.1937in;
}

.frame4 {
  border: none;
  width: 2.5280in;
}

.frame6 {
  border: none;
  width: 3.0709in;
}

.frame7 {
  border: none;
  width: 2.9528in;
}

.frame10 {
  border: none;
  float: left;
  width: 4.2028in;
}

.frame2 {
  border: none;
  float: left;
  width: 3.3071in;
}

.frame5 {
  border: none;
  width: 2.9925in;
}

.frame11 {
  border: none;
  float: left;
  width: 4.2610in;
}

.frame0 {
  border: none;
  width: 3.3465in;
}

.frame12 {
  border: none;
  width: 3.5429in;
}
